{{ define "comment" }}
    {{ range .Comments }}
        <div>Name: {{ .Name }}</div>
        <div>Comment: {{ .Comment }}</div>
        <hr>
    {{end}}
    <form action="/comment/{{.Title}}" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required size="10"><br>
        <label for="comment">Comment:</label>
        <div><textarea type="text" id="comment" name="comment" rows="4" cols="70"></textarea></div>
        <div><input type="submit"value="Post comment"></div>
    </form>
{{ end }}